*{
    box-sizing: border-box;
}
body{
background-color:#f7b3b3;
}
.container{
    width: 360px;
    margin: 100px auto;
    border-radius: 20px;
    background: #fff;
    padding: 56px 22px 91px 20px;
}
/* form{
    border: none;
    border-radius: 12px;
    width: 316px;
    height: 44px;
    background-color: #efefef;
} */
button{
    border: none;
    background-color:  #fff;
}
.menu-items{
    margin-top: 29px;
    padding: 0px 46px 0px 4px;   
}
.position-img{
    width:74px;
    height: 74px;
    border-radius: 12px;
    background-color: #efefef;
    
}

.position-title{
    color:#c4c4c4;
}
.menu-position{
    display: inline-block;
    
}
.menu-position:hover .position-img{
background-color: #eae2b7;

}
.menu-position:hover .position-title{
    color:#000;
}

.burger-title{
    color: #003049;
    margin:  32px 251px 26px 2px;
}

        
.burger-position{
    width: 316px;
        height: 88px;
        border-radius: 10px;
   display: inline-block;
}