*{
    box-sizing: border-box;
}

@font-face {
    font-family: "KyivType";
    src: url("fonts/KyivTypeTitling-Medium.woff") format("woff2");
    font-weight: 900;
    font-style: normal;
}

body{
    background-color: #010205 ;
  
    position:relative;
    
    font-family: "Inter", sans-serif;
    color: #fff;
   

}
.hero{
background: url(img15/bg.jpg) center / cover no-repeat;
}

.age{
    position:absolute; 
     width: 174px;
height: 66px; 
background-color: rgba(255, 255, 255, 0.49); 
font-weight: 500;
font-size: 24px;
line-height: 142%;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
right: 0;
bottom: 103px;

}
.red{
    position:absolute;
    background-color: #d40d1f;
    width: 33px;
height: 66px;
right: 141px;
bottom: 103px;


}

.container{
  /* max-width: 1728px;
  margin: 0 auto;
    padding: 0 24px; */
    width:96%;
    margin: 0 auto;
    padding: 0 24px;
   
}

.main-content{
    max-width: 963px;
}

header{
    padding: 40px 0;
    margin-bottom: 116px;
}
header .container{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
   

}
.header-block{
    display: flex;
    flex-direction: row;
     align-items: center;
}

.header-block:first-child{
    gap: 82px;
}
.header-block:last-child{
    gap:45px;
}
.date{
    position:relative;
    font-family:"KyivType", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #c8c8c8;
}

.date::before{
    content: "|";
    position:absolute;
    display:block;
    color: #fff;
    left: -30px;
  
}
.search-block input {
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
    transition: 0.8s ease;
     font-size: 19px;
    font-weight: 400;
    line-height: 120%; 
    letter-spacing: 1px;
    color: #000;
}
.search-block {
    display: flex;
    align-items: center;
}

.search-block:focus-within input {
    width: 200px;
    opacity: 1;
}

.search-block button{
   background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.img-avatar{
    width: 74px;
    height: 74px;
}
.img-avatar img{
    width: 100%
}

.genre{
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin-bottom: 65px;
}


.genre h3{
    font-weight: 500;
font-size: 32px;
position:relative;

}

.genre h3:not(:last-child)::after{
content: "|";
position:absolute;
    color: #fff;
    top:0px;
  left: 113px;

}

.title{
font-weight: 800;
font-size: 64px;
letter-spacing: 0.06em;
margin-bottom: 16px;
}




.information{
display: flex;
flex-direction: row;
margin-bottom: 16px;
}

.information h4{
    font-weight: 500;
font-size: 30px;
position:relative;
}

.information h4 span{
    font-weight: 400;
font-size: 29px;
color: #a7a6a6;
}

.information h4:first-child{
    margin-right: 48px;
}
.information h4:nth-child(2){
    margin-right: 41px;
}

.information h4:first-child:after{
content:"";
position:absolute;
height: 14px;
width: 2px;
background-color:#fff;
left:  86px;
bottom: 6px;
}
.information h4:nth-child(2):after{
content:"";
position:absolute;
height: 14px;
width: 2px;
background-color:#fff;
left:  335px;
bottom: 5px;
}
.discription{
    margin-bottom: 36px;
}

.discription p{
    font-weight: 400;
font-size: 24px;
line-height: 142%;
color: #a7a6a6;

}

.rate-stars{
    margin-bottom: 69px;
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-bottom: 54px;

}


.btn-1{
    display: flex;
    flex-direction: row;
    gap: 11px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
width: 272px;
height: 64px;
background-color: #d40d1f;
font-weight: 500;
font-size: 22px;
line-height: 142%;
color: #fff;

}
.btn2{
border: 3px solid #fff;
border-radius: 10px;
   background: none;
width: 271px;
height: 64px;
font-weight: 500;
font-size: 22px;
line-height: 142%;
color: #fff;
}

.popular-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

.navigation{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 38px;
height: 38px;


}

.popular-navigation h2{
    font-weight: 800;
font-size: 22px;
line-height: 145%;
letter-spacing: 0.14em;
margin-bottom: 32px;
}

.films{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    margin-bottom: 49px;

}
.nav-container{
    width: 963px;
}

