*{
    box-sizing: border-box;
}
@font-face {
    font-family: "KyivType";
    src: url("fonts/KyivTypeTitling-Medium.woff") format("woff2");
    font-weight: 900;
    font-style: normal;
}

$bg-color:rgba(255, 255, 255, 0.49);
$bg-red-age:#d40d1f;
$text-color: #c8c8c8;
$title-color: #fff;
$black-color:#000;
$star-color:#FFEA2B;
$span-color:#a7a6a6;
$icon-color:#A7A6A6;

body{
    background-color: #010205 ;
  background: url(../img16/bg.jpg) center / cover no-repeat;
    position:relative; 
    font-family: "Inter", sans-serif;
    color: $title-color;
}
.age{
    position:fixed; 
     width: 174px;
height: 66px; 
background-color: $bg-color; 
font-weight: 500;
font-size: 24px;
line-height: 142%;
color: $title-color;
display: flex;
justify-content: center;
align-items: center;
right: 0;
bottom: 103px;
}
.red{
    position: fixed;
    background-color: $bg-red-age;
    width: 33px;
height: 66px;
right: 141px;
bottom: 103px;
}

.container{
    width:96%;
    margin: 0 auto;
    padding: 0 24px;
}

.main-content{
    max-width: 963px;
}

header{
     padding: 40px 0;
    margin-bottom: 116px;
    .container{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

   .header-block{
    display: flex;
    flex-direction: row;
     align-items: center;
     &:first-child{
    gap: 82px;
}
&last-child{
    gap:45px;
}
}
.date{
    display: flex;
    align-items: center;
     font-family:"KyivType", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: $text-color;

    &::before{
         content: "|";
    margin-right: 32px;
    color: $title-color;
    }
}
.search-block {
    display: flex;
    align-items: center;
    button{
   background: none;
    border: none;
    padding: 0;
    cursor: pointer;
     color:$title-color;
    font-size: 43px;
}
    &:focus-within input {
    width: 200px;
    opacity: 1;
}
    input{
          width: 0;
    opacity: 0;
    border: none;
    outline: none;
    transition: 0.8s ease;
     font-size: 19px;
    font-weight: 400;
    line-height: 120%; 
    letter-spacing: 1px;
    color: $black-color;  
    }
}
.img-avatar{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    img{
    width: 100%
}
}
}
}

.genre{
    display:flex;
    gap:24px;
    margin-bottom: 35px;
    h3{
    font-weight: 500;
font-size: 32px;
position:relative;
padding-right: 48px;
&:not(:last-child)::after{
content: "|";
position:absolute;
    color: $title-color;
    top:0px;
  right: 0px;

}
}
}

.rate-stars{
    font-size: 32px ;
    .fa-solid{
    color: $star-color;
    margin-bottom: 69px;
}
}
.title{
font-weight: 800;
font-size: 64px;
letter-spacing: 0.06em;
margin-bottom: 35px;
}
.information{
display: flex;
gap:32px;
flex-wrap: wrap;
flex-direction: row;
margin-bottom: 16px;
h4{
    font-weight: 500;
font-size: 30px;
position:relative;
padding-right: 32px;
&:not(:last-child)::after{
    content: "";
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    width: 2px;
    height: 14px;
    background-color: $title-color;
}
span{
    font-weight: 400;
font-size: 29px;
color: $span-color;
}
}
}
.discription{
    margin-bottom: 36px;
    p{
    font-weight: 400;
font-size: 24px;
line-height: 142%;
color: $span-color;
}
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-bottom: 54px;
.btn-1{
    display: flex;
    flex-direction: row;
    gap: 11px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
width: 272px;
height: 64px;
background-color: $bg-red-age;
font-weight: 500;
font-size: 22px;
line-height: 142%;
color: $title-color;
i{
    font-size: 32px;
}
}
.btn2{
border: 3px solid $title-color;
border-radius: 10px;
   background: none;
width: 271px;
height: 64px;
font-weight: 500;
font-size: 22px;
line-height: 142%;
color: $title-color;
}
}

.nav-container{
    width: 963px;

.popular-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  h2{
    font-weight: 800;
font-size: 22px;
line-height: 145%;
letter-spacing: 0.14em;
margin-bottom: 32px;
}
.navigation{
    display: flex;
    flex-direction: row;
    gap: 20px;
  i {
    font-size:38px;
    color: $icon-color;
    &:hover{  
    color: #FCFCFC;
}
}
}
}
.films{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    margin-bottom: 49px;

}
}